.quixnav ul>li>.collapsed,
.quixnav ul>li>a {
    color: #fff;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: block;
    padding: 0.8125rem 1.25rem;
    outline-width: 0;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.quixnav ul.nav>li {}

.quixnav ul>li>.collapsed:hover,
.quixnav ul>li>a:hover {
    background-color: #5e72e4;
}

.quixnav .btn-toggle-nav {
    /* padding: 0 20px; */
    margin-left: 20px;
}