<div class="quixnav position-relative">
    <div style="height: 100vh; width: 15%; background-color: #343957;" class="position-fixed flex-shrink-0  border-end border-end-primary border-3  shadow-lg">
        <h1 class=" text-center text-white"><a class=" text-decoration-none text-white" routerLink="/">Website</a> </h1>
        <ul class="nav list-unstyled ps-0 list-group list-group-flush  mt-4">
            <li class="">
                <a routerLink="/admin" class="collapsed">
                    <i class="fa-solid fa-house-heart"></i> Home
                </a>
            </li>
            <li class="">
                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Quản lí môn học
                </a>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal  small border-start">
                        <li>
                            <a routerLink="subject" class="link-dark  rounded-end">
                                <i class="fa-solid fa-list"></i> Danh sách
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- <li class="">
                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                    Product
                </a>
                <div class="collapse " id="product-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal  small border-start">
                        <li><a href="#" class="link-dark  rounded-end">Overview</a></li>
                        <li><a href="#" class="link-dark  rounded-end">Updates</a></li>
                        <li><a href="#" class="link-dark  rounded-end">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class=" ">
                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </a>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal  small">
                        <li><a href="#" class="link-dark  rounded-end">New...</a></li>
                        <li><a href="#" class="link-dark  rounded-end">Profile</a></li>
                        <li><a href="#" class="link-dark  rounded-end">Settings</a></li>
                        <li><a href="#" class="link-dark  rounded-end">Sign out</a></li>
                    </ul>
                </div>
            </li> -->
        </ul>
    </div>
    <div style="width:85%" class="position-absolute end-0 px-4">
        <div class="container-fluid">
            <div class="mt-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>